@use "../base/variables" as v;

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin flex($display, $direcction, $justify, $aling) {
  display: $display;
  flex-direction: $direcction;
  justify-content: $justify;
  align-items: $aling;
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  gap: $espaciado;
  grid-template-columns: repeat($columnas, 1fr);
}

// @include m.bgImage('../img/manos.jpg');
@mixin bgImage($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
