@use "../base/variables" as v;

.hiddem {
  display: none;
}

.show {
  display: flex;
}

.active {
  color: v.$naranja;
}

// .translate {
//     transform: translateY(0);
// }

// .translate- {
//     transform: translateY(-100);
// }

.efectoFade {
  animation-name: home;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-direction: normal;
}

@keyframes home {
  from {
    opacity: (0);
  }
  to {
    opacity: (1);
  }
}

.translatex {
  animation-name: sobre;
  animation-iteration-count: initial;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-direction: normal;
}

@keyframes sobre {
  from {
    transform: translatex(-100%);
  }

  to {
    transform: translatex(0%);
  }
}
